@charset "utf-8" ;
/**
 * Sass通用组件
 */
 
// 常量
$legacy-support-for-ie : true !default;
$border-style: 1px solid !default;
$font-family : 'Microsoft Yahei', 'Simsun' !default;
$font-number : 'Arial' !default;
$title-h1 : 22px !default;
$title-h2 : 18px !default;
$title-h3 : 16px !default;
$txt1 : 16px !default;
$txt2 : 14px !default;
$TXT3 : 12px !default;
$bd-color : #e5e5e5 !default;
$red : #c40000 !default;
$gray : #ccc !default;
$gray-hover : #111 !default;
$black : $333;



//font
@mixin font($size , $color , $line-height: 1){
    font:$size/$inline-height; color:$color;
}

//opacity
@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: ($opacity * 100);
    filter: alpha(opacity=$opacity-ie);
}

//clearFloat
@mixin clearfix {
    @if $legacy-support-for-ie {
        *zoom: 1;
    }
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}
%clearfix{
    @include clearfix;
}

//input_box
@mixin input_box( $width, $height, $padding-left )  {
    width : $width;
    height: $height;
    padding-left: $padding-left;
    line-height: $height;
}


//position
@mixin position($position, $args) {
    position: $position;
    @each $o in top right bottom left margin-top margin-bottom margin-left margin-right {
        $i: index($args, $o);
        @if $i and $i + 1 <= length($args) and type-of(nth($args, $i + 1)) == number {
            #{$o}: nth($args, $i + 1);
        }
    }
}
@mixin absolute($args) { //绝对定位
    @include position(absolute, $args);
}
@mixin fixed($args) {  // 悬浮效果
    @include position(fixed, $args);
}
@mixin relative($args) {   // 相对定位
    @include position(relative, $args);
}
@mixin fixed_center($width , $height , $args:0 ){  // 居中显示
    @include position(fixed , $args);
    margin-left:-($width / 2); margin-top:-($height / 2)
}

//center_box
@mixin center_box{
    margin-left:auto; margin-right:auto;
}
%center_box{
    @include center_box;
}

//linkColor and :hover
@mixin link($color ,$hover-color:$color ){
    color: $color; 
    &:hover{
        color:$hover-color;
    }
}

@mixin line-border($color , $hover-color ){
    color: $color;
    &:hover{
        color:$hover-color; text-decoration:underline
    }
}

//imgCenter
@mixin img_center($father:false){
    @if $father {
        display: table; text-align: center;
    } @else {
        display: table-cell; vertical-align: middle;
    }
}
%img_center{
    @include img_center($father:false);
}

@mixin float($float:left) {
  @if float == left{
    float: left;
  }
  @else{
    float:right;
  }
}
%float{
  @include float($float:left);
}

//btn-box
@mixin btn_box($width , $height, $bg , $color , $size){
    width:$width; height:$height; line-height:$height; text-align: center; color:$color; background-color:$bg; font-size:$size;
}

//btn-type
@mixin btn_type( $color , $bg , $hover-color:$color , $hover-bg:$bg , $hover:false){
    color:$color; background-color:$bg;
    @if hover{
        color:$hover-color; background-color:$hover-bg;
    }
}

//分块（ul+li的nav）
@mixin sort( $width , $amount){
    width: floor($width/$amount);
}

//表单禁止修改
@mixin disabled($bgColor: #e6e6e6, $textColor:#c40000){
    background-color: $bgColor !important;
    color: $textColor !important;
    cursor: not-allowed !important;
}

//border三角形（等腰 上下左右）
@mixin arrow($direction,  $size,  $color) {  
    width: 0;  
    height: 0;  
    line-height: 0;  
    font-size: 0;  
    overflow: hidden;  
    border-width: $size;  
    @if $direction == top {  
        border-style: dashed dashed solid dashed;  
        border-color: transparent transparent $color transparent;  
        border-top: none;  
    }  
    @else if $direction == bottom {  
        border-style: solid dashed dashed dashed;  
        border-color: $color transparent transparent transparent;  
        border-bottom: none;  
    }  
    @else if $direction == right {  
        border-style: dashed dashed dashed solid;  
        border-color: transparent transparent transparent $color;  
        border-right: none;  
    }  
    @else if $direction == left {  
        border-style: dashed solid dashed dashed;  
        border-color: transparent $color transparent transparent;  
        border-left: none;  
    }
}  

//border三角形（等腰 上左 上右 下左 下右）
@mixin arrow_askew($direction,  $size,  $color){
    width: 0;  
    height: 0;  
    overflow: hidden;   
    @if $direction == top-left {  
        border-width: $size $size 0 0;  
        border-style: solid ;  
        border-color: $color transparent  transparent  transparent ;   
    }
    @if $direction == top-right {  
        border-width: 0 $size $size 0;  
        border-style: solid ;  
        border-color: transparent $color  transparent  transparent ;
    }
    @if $direction == bottom-right {  
        border-width: 0 0 $size $size;  
        border-style: solid ;  
        border-color:  transparent  transparent $color transparent ;
    }
    @if $direction == bottom-left {  
        border-width: $size 0 0 $size;  
        border-style: solid ;  
        border-color: transparent  transparent  transparent $color  ; 
    }   
}

//循环图/雪碧图
@mixin cycle_img($size ,$width , $height ){
    @for $i from 0 to $size{
      .d-icon-#{$i}{ background-position: -$width -#{+ $i*$height}; }
    } 
}

//表单边框
@mixin form_border{
    border:1px solid $bd-color;
}
%inp_border{
    @include form_border;
}
// input-box
@mixin inp_txt($width ,$height , $padding , $line-height:$height ){
    width:$width; height:$height; padding-left:$padding; line-height:$line-height; 
    @include form_border;
}
//textarea-box
@mixin text($width ,$height , $padding-vertical , $padding-horizontal , $line-height:$height ){
    width:$width; height:$height; padding:$padding-vertical $padding-horizontal; line-height:$line-height; 
    @include form_border;
}

@mixin bold{
    font-weight: bold;
}
%bold{
    @include bold;
}
